/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.home__div{
    background: #000000 ;
    color: #ffffff;
    margin: 0 auto;

    margin: 0 auto;

    p{
       
        padding: 3%;
    }
    .app__home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 10px 0px 10px;

        .you{
            margin: 0.5%;
            background-color: #ff0000;
            color: #ffffff;
            border: 1px solid #000000;
            border-radius: 4px;
        }
    }
}

.app__footer{
      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    background: #0b0b0b;
    color: #ffffff;

    padding: 1em;
    margin: 0;

        a{
            text-decoration: none;
            color: rgba(0, 229, 255, 0.3);

            &:hover{
                color: rgba(0, 229, 255, 0.8);
                cursor: pointer;
            }
        }
}

.app__navbar{
    background: #000000;
    padding: 0;

    .header__search{
        text-decoration: none;
            display: flex;
            justify-content: left;
            align-items: center;
            flex-direction: row ;
            
    }
    

    .app__header{
        color: rgb(120, 255, 47);
        text-align: center;
        margin: 0;
    }

        .header__navLink{
            text-decoration: none;
            display: flex;
            justify-content: right;
            align-items: center;
            flex-direction: row ;


        }
}